@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Arimo', sans-serif;
}

html, body{
    overflow-x:hidden;
}

html{
    scroll-behavior:smooth;
}

.stop{
  overflow-y:hidden;
  overflow-x:hidden;
}
/* Preloader */



/* Navigation */

nav{
    margin-bottom:50px;
}

.navbar-brand{
    margin-left:50px;
}

.navbar-custom .navbar-brand{
    color:#fff;
}

.navbar-nav{
  margin-right:90px;
}
/* 
.navbar-nav{
    margin-top:25px;
} */

.navbar-nav > li{
    padding-left:25px;
    padding-right:25px;
  }

  .navbar-light .navbar-toggler{
    outline:none;
  }
/* 
  #reviews{
    margin-right:90px;
  } */
  /* .navbar-nav > li:hover{
      border-bottom:2px solid #121212;
      padding-right:0;
} */
a.nav-link:hover{
  border-bottom:2px solid #121212;
}
/* .home{
    background-color: goldenrod;
} */


/* Home */

.home
{
  height:100%;
  min-height:600px;
  width: 100vw;
  display:flex;
  justify-content: space-around;
  margin-top:10vh;
  max-height:750px;
}

  .home-text {
    margin-left: 80px;
  }
  
  .home-text p {
    max-width: 550px;
    font-weight: 400;
  }
  
  h1 {
    font-weight: bolder;
    font-size: 4em;
  }
  h3 {
    font-weight: 650;
    font-size: 2.8em;
  }
  .showcase-btn {
    margin-left: -10px;
    margin-top: 40px;
    padding: 15px 40px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
  }
  
  .showcase-btn:active,
  .showcase-btn:focus {
    outline: none;
  }
  
  /* .home-image {
    height:500px;
    width:100%;
      max-width: 500px;
      display:flex;
      justify-self:center;
      align-self: center;
      margin-top:100px;
  } */
  
  .home-image {
    
      width:100vw;        
      margin-left:100px;
      max-width:50vw;
      /* object-fit:cover; */
      /* height:500px; */
     /* max-width:300px; */
      /* display:flex;
      justify-items:space-around;
      align-items: center;
      flex-direction:column; */
   }

   .home-image{
      animation:fly 4s ease-in-out infinite;
   }

   @keyframes fly
   {

     0%{
       transform:translate(-10%,-38%);
     }
     50%{
      transform:translate(-10%,-28%);
     }
     100%{
      transform:translate(-10%,-38%);
     }

   }

  .home-image img{
    object-fit:cover;
    width:100%;
    height:70vh;
  }
  
  
  /* Features */
  
  .features {
  height:100%;
    overflow-y: hidden;
    overflow-x: hidden;
    display:flex;
    align-items:center;
    width:100%;
  }
  
  .features-container {
    min-height: 90vh;
  }
  
  ul {
    list-style: none;
  }
  
  .features-image {
    margin-top: 80px;
    margin-left:50px;
      /* object-fit:cover; */
      /* height:500px; */
     /* max-width:300px; */
      width:50vw;
      height:auto;
      }

      .features-image{

        animation:fly2 4s ease-in-out infinite;
      }

      @keyframes fly2
      {
   
        0%{
          transform:translate(-5%,-20%);
        }
        50%{
         transform:translate(-5%,-10%);
        }
        100%{
         transform:translate(-5%,-20%);
        }
   
      }

  .features-image img{
    width:100%;
  }

  .points-container
  {
    display:flex;
    flex-direction: column;
    margin-top:-150px;
  }
  .points{
    margin-left:150px;
  }


  /* working points */

  .points ul li{
    display:grid;
      grid-template-columns:1fr;
      justify-self:space-around;
      margin:20px 0;
    }
  .checkboxer{
    display:flex;
    align-items:center;
  }
  .checkboxer span{
    margin-left:10px;
  }
  ul{
    list-style:none;
  }
  .icone{
    font-size:50px;
  }
  
   /* .points {
    margin-left: 300px;
   
  }
  
  .points ul li{
    display:grid;
    grid-template-columns:2fr;
    grid-template-rows: repeat(4,1fr);
  }

  .points h1 {
    font-weight: bolder;
    font-size: 3em;
  }
  
  /* .checkboxer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space:nowrap;
    margin: 20px 0px;
    margin-right: 180px;
  } */
  
  /* Checkbox */
  
  /*
  .icone {
   margin-left: -180px; 
    font-size: 50px;
  }
  
  .fourth{
  margin-left:5px;
  } */


/* Gallery */



.pics-container {
	max-width: 100rem;
	margin: 0 auto;
    padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
    color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 70vh;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}



/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

 @supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
  } 
  
	.gallery,
	.gallery-item {
		margin: 0;
	}
} 


/* Customer review Carousel/Slider */

.slideshow-container {
  position: relative;
  background: inherit;
  width:60vw;
  margin:0 auto;
  margin-top:-50px;
  margin-bottom:80px;
  font-size:20px;
}

.heading-2{
  font-family: "Montserrat", Arial, sans-serif;
font-size: 2.7rem;
font-weight: 500;
line-height: 1.5;
text-align: center;
padding: 2.5rem 0;
  color: #1a1a1a;
}

.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}



.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(0,0,0,0.8);
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
    margin-top:-40px;
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}


.author{
    padding-top:10px;
}

/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}
 */


  

/* Footer */

section.footer{
  background-color:#111111;
}

   footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width:100%;
    position: relative;
    top: 24px;
    background-color: #111111;
    margin-bottom:25.6px;
 }

 /* .footer-top{
    display:grid;
    grid-template-columns: minmax(250px,repeat(4,2fr));
    grid-gap:2em;
    grid-auto-rows: auto;
} */
 
.footer-list-1{
    margin-right:150px;
  }

  .footer-list-1 ul li{

    font-family: 'Jockey One', sans-serif;
    letter-spacing:0.6px;
  }
  
  .footer-1-ul{
    margin-left:15px;
}

.footer-list-2{
    margin-right:100px;
}

footer .footer-top {
    width: 80vw;
    position: relative;
    top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-around;
}

.footer-list-1 ul, .footer-list-2 ul, .footer-list-3 ul {
    list-style: none;
}


.footer-list-1 li, .footer-list-2 li, .footer-list-3 li {
    padding-bottom: 12px;
}

.footer-list-1, .footer-list-2 p, .footer-list-3 p {
    font: 0.8rem 'Carrois Gothic SC';
    font-weight: 800;
    letter-spacing: -1px;
    color: #FFFFFF;
    margin-left:10px;
}

.footer-list-2 li:hover, .footer-list-3 li:hover {
    color: #F5F5F5;
    cursor:pointer;
}

.footer-list-2 ul, .footer-list-3 ul {
    position: relative;
    left: -40px;
    font: 0.8rem "Helvetica";
    color: #7E7E7E;
}

.footer-list-2 p, .footer-list-3 p{

    margin-left:-40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:14px;
}



section.footer{
    overflow-y:hidden;
}

/* .icon-wrap {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background: #7E7E7E;
    margin-left: 9px;
}

.icon-wrap:hover {
    background: #F5F5F5;
}

.footer-icons i {
    position: relative;
    top: 2px;
    left: 5px;
    color: #111111;
} */



.footer-bottom {
    width: 70vw;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    font: 0.6rem "Helvetica";
    color: #7E7E7E;
    background: #111111;
    border-top: 1px solid #292929;
}

.footer-bottom-right {
    display: flex;
}

.footer-bottom-right p {
    margin-right: 32px;
    font-size:1.5em;
}

.footer-bottom-right p:hover{
    color: #F5F5F5;
    cursor:pointer;
}

.footer-bottom-left{
    font-size:1.5em;
}

.footer-bottom-left a{
  text-decoration: none;
  color:inherit;
}

.footer-bottom-left a:hover{
  color:#fff;
}

.footer-logo{
  margin-left:25px;
  margin-top:15px;
}

.footer-icons-contain {
    position: relative;
    display: flex;
    color:#f5f5f5;
    justify-content: space-evenly;
    font-size:1.155em;
    color:#F5F5F5;
    min-width:35%;
}

.footer-icons-contain a{
  color:rgb(225, 225, 225);
  text-decoration: none;
}



.icon-wrap a:hover{
    color:rgb(180, 180, 180);
    cursor:pointer;
}

@media(max-width:1024px)
{
  .home
  {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr;
    grid-gap:2em;
  }
  .home-image{
    width:50vw;
    height:100vh;
    margin-top: 200px;
    width: 50vw;
    display: flex;
    align-self: center;
  }

  .features
  {
    margin-top:150px;
    margin-bottom:150px;
  }
  .points-container
  {
      margin-top:0px;
  }

  .footer-bottom
  {
    white-space:nowrap;
  }

}


@media(max-width:768px){
  
  /* Navbar */
 
   .navbar-brand{
        margin-left:15px;
    }

    a.nav-link:hover{
      border-bottom:2px solid transparent;
      font-weight:bolder;
    }

    /* Home */

    .home{
      display:flex;
      justify-content:space-around;
      align-items:center;
      flex-direction:column;
      margin-top:0px;
      margin-bottom:100px;
    }


 
    .home-text {
       margin-left: 100px;
      margin-right:80px;
  }
  
  .home-image
  {
      display:none;
      }
  
/*   .home-text p {
    max-width: 550px;
    font-weight: 400;
  } */
  
  .home-text{
    display:flex;
    flex-direction:column;
    justify-self:center;
    align-self:center;
  }
  
  /* Features */

  .features
  {
    margin-top:100px;
      display:flex;
      flex-direction:column;
          justify-content: space-around;
          align-items:center;
          margin-bottom:0px;
 }

    .features-image {
    
        height:450px;
        width:600px;
        margin-top:200px;      
       margin:0 auto;
       padding:30px;
}


    .features-image img{
      width:100%;
    }

    .features-image{

      animation:fly12 4s ease-in-out infinite;
    }

    @keyframes fly12
    {
 
      0%{
        transform:translate(-5%,-10%);
      }
      50%{
       transform:translate(-5%,-5%);
      }
      100%{
       transform:translate(-5%,-10%);
      }
 
    }


    /* Checkbox Points*/

    .points-container{
      margin-top:0px;
    }

    .points{
      margin-right:100px;
      margin-left:150px;
    }

    .points h1{
      flex-wrap:nowrap;
    }
 
    .points ul li{
      display:grid;
        grid-template-columns:1fr;
        justify-self:space-around;
        margin:20px 0;
        margin-right:130px;
        white-space:nowrap;
      }

      /* Checkbox itself */

    .checkboxer{
      display:flex;
      align-items:center;
    }
    .checkboxer span{
      margin-left:10px;
    }
    ul{
      list-style:none;
    }
    .icone{
      font-size:50px;
    }

    /* Gallery */

    .fourth{
      display:none;
    }

    .fifth{
      display:none;
    }

    .sixth
    {
      display: none;
    }

    
    /* Reviews Carousel / Slider */

    .slideshow-container{
      margin-bottom:0px;
    }

    .heading-2{
      padding-bottom:0px;
    }

    .mySlides{
      padding-top:30px;
    }

    .pics-container
    {
      margin-top:150px;
    }

    /* Footer */

    footer .footer-top {
        display:grid;
        grid-template-columns: 1fr;
        width: 80vw;
        position: relative;
        top: 24px;
        padding-bottom: 24px;
    } 

    .footer-logo{
      margin:0;
    }

    .footer-list-2, .footer-list-3{
      margin-left:65px;

    }

    .footer-bottom{
      display:grid;
      grid-template-columns:1fr;
      grid-template-rows:4fr;
    }

    .footer-bottom-right{
      display:grid;
      grid-template-columns:1fr;
      grid-template-rows:3fr;
    }

    .footer-bottom-left{
      white-space: nowrap;
    }

    /* .footer-icons-contain{
      margin-bottom:20px;
      display:grid;
      grid-template-columns:repeat(3,1fr);
      grid-template-rows:1fr;
  } */

  .footer-icons-contain{
    margin-top:20px;
      margin-bottom:20px;
      display:grid;
      grid-template-columns:repeat(3,1fr);
      grid-template-rows:1fr;
      max-width:35%;
  }
    .icon-wrap{
    display:flex;
      align-items:center;
      justify-content:center;
      margin-left:25px;
  }
}

@media(max-width:576px)
{
  .features-image
  {
    width:500px;
  }
}
